In [1]:
import pandas as pd

In [62]:
PATH = "../data/1019082310.csv"

In [63]:
df = pd.read_csv(PATH, sep=';', encoding='iso8859_15', header = 4)
df.columns

Index(['Buchungstag', 'Wertstellung', 'Buchungstext',
       'Auftraggeber / Begünstigter', 'Verwendungszweck', 'Kontonummer', 'BLZ',
       'Betrag (EUR)', 'Gläubiger-ID', 'Mandatsreferenz', 'Kundenreferenz',
       'Unnamed: 11'],
      dtype='object')

In [64]:
df["Buchungstag"] = pd.to_datetime(df["Buchungstag"], infer_datetime_format=True)
df["Wertstellung"] = pd.to_datetime(df["Wertstellung"], infer_datetime_format=True)
df["Buchungstext"] = df["Buchungstext"].astype("str")
df["Auftraggeber / Begünstigter"] = df["Auftraggeber / Begünstigter"].astype("str")
df["Verwendungszweck"] = df["Verwendungszweck"].astype("str")
df["Kontonummer"] = df["Kontonummer"].astype("str")
df["BLZ"] = df["BLZ"].astype("str")
df["Gläubiger-ID"] = df["Gläubiger-ID"].astype("str")
df["Mandatsreferenz"] = df["Mandatsreferenz"].astype("str")
df["Kundenreferenz"] = df["Kundenreferenz"].astype("str")
df["Betrag (EUR)"] = (
    df["Betrag (EUR)"]
    .apply(lambda row: row
           .replace('.', '')
           .replace(',', '.'))
    .astype(float)
)
df = df.iloc[: , :-1]
df = df.replace('nan', pd.NA)

In [65]:
df.dtypes

Buchungstag                    datetime64[ns]
Wertstellung                   datetime64[ns]
Buchungstext                           object
Auftraggeber / Begünstigter            object
Verwendungszweck                       object
Kontonummer                            object
BLZ                                    object
Betrag (EUR)                          float64
Gläubiger-ID                           object
Mandatsreferenz                        object
Kundenreferenz                         object
dtype: object

In [70]:
df.groupby([df.Buchungstag.dt.year,df.Buchungstag.dt.month])["Betrag (EUR)"].sum()

Buchungstag  Buchungstag
2019         6              4934.69
             7             -3167.68
             8              -551.03
             9             -1431.97
             10             2262.97
             11             1394.03
             12              826.40
2020         1             -3969.97
             2                67.03
             3              -190.93
             4               311.72
             5              2003.83
             6             -2497.53
             7              -789.39
             8              -672.65
             9              -254.12
             10             5370.94
             11            -1692.57
             12             -633.22
2021         1              1373.26
             2              1418.22
             3              1855.78
             4             -1456.74
             5              5010.35
             6              1984.42
             7               555.61
             8             -1951.23
             9              -185.48
             10            -5325.22
             11            -3824.21
             12              293.68
2022         1              3710.58
             2              -437.32
             3               213.03
             4                11.09
             5              -881.44
Name: Betrag (EUR), dtype: float64